<%% content_for :title, "New <%= human_name.downcase %>" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New <%= human_name.downcase %></h1>

  <%%= render "form", <%= singular_table_name %>: @<%= singular_table_name %> %>

  <%%= link_to "Back to <%= human_name.pluralize.downcase %>", <%= index_helper(type: :path) %>, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
