name: upstream
concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  cancel-in-progress: true
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 3" # At 08:00 on Wednesday # https://crontab.guru/#0_8_*_*_3
  pull_request:
    types: [opened, synchronize]
    branches:
      - '*'

jobs:
  tests:
    name: "tests (rails main)"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["3.3"]
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
      - run: |
          rm Gemfile.lock
          bundle remove actionmailer
          git clone --depth 1 --branch main https://github.com/rails/rails
          bundle add actionmailer --path=rails
          bundle add railties --path=rails
          bundle install
      - name: Run tests
        run: bin/test

  user-journey:
    name: "user-journey (rails ${{ matrix.ref }})"
    runs-on: ${{matrix.plat}}-latest
    strategy:
      fail-fast: false
      matrix:
        plat: ["ubuntu"]
        ref: ["7-2-stable", "v8.0.0.beta1", "main"]
        tailwind: ["--version=~>3.4.14", "--version=~>4.0.0.alpha.27"]
    env:
      RAILSOPTS: --git=https://github.com/rails/rails --ref=${{ matrix.ref }}
      TAILWINDCSSOPTS: ${{ matrix.tailwind }}
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "3.3"
          bundler: latest
      - run: test/integration/user_journey_test.sh
        shell: bash
