name: upstream
concurrency:
  group: "${{github.workflow}}-${{github.ref}}"
  cancel-in-progress: true
on:
  workflow_dispatch:
  schedule:
    - cron: "0 8 * * 3" # At 08:00 on Wednesday # https://crontab.guru/#0_8_*_*_3
  pull_request:
    types: [opened, synchronize]
    branches:
      - '*'
env:
  GEM_HOME: ${{ github.workspace }}/.gem # Needs to be a writable directory to bundle remove/add

jobs:
  tests:
    name: "tests (rails main)"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby: ["4.0"]
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{matrix.ruby}}
      - run: |
          rm Gemfile.lock
          bundle remove actionmailer
          git clone --depth 1 --branch main https://github.com/rails/rails
          bundle add rails --path=rails --skip-install
          bundle install
      - name: Run tests
        run: bin/test

  user-install:
    name: "user-install (rails ${{ matrix.ref }})"
    runs-on: ${{matrix.plat}}-latest
    strategy:
      fail-fast: false
      matrix:
        plat: ["ubuntu"]
        ref: ["7-2-stable", "8-0-stable", "8-1-stable", "main"]
    env:
      RAILSOPTS: --git=https://github.com/rails/rails --ref=${{ matrix.ref }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler: latest
      - run: test/integration/user_install_test.sh
        shell: bash

  user-upgrade:
    name: "user-upgrade (rails ${{ matrix.ref }})"
    runs-on: ${{matrix.plat}}-latest
    strategy:
      fail-fast: false
      matrix:
        plat: ["ubuntu"]
        ref: ["7-2-stable", "8-0-stable", "8-1-stable", "main"]
    env:
      RAILSOPTS: --git=https://github.com/rails/rails --ref=${{ matrix.ref }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: "4.0"
          bundler: latest
      - run: test/integration/user_upgrade_test.sh
        shell: bash
